{{- $js := resources.Get "js/extended/interactive.js" }}
{{- if $js }}
{{- $js = $js | resources.Minify }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $js = $js | fingerprint }}
<script defer crossorigin="anonymous" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{- else }}
<script defer crossorigin="anonymous" src="{{ $js.RelPermalink }}"></script>
{{- end }}
{{- end }}
{{- with site.Params.goatcounter }}
<script data-goatcounter="https://{{ . }}.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
<script>window.fkCounter={url:"https://{{ . }}.goatcounter.com/counter/TOTAL.json",views:{{ i18n "visits_views" | jsonify }},uniq:{{ i18n "visits_unique" | jsonify }}};</script>
{{- end }}
